@import "tailwindcss";


.App {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

/* Remove default text-align center */
.App-header {
  background-color: #0f0f10;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}